body {
    
    font-family: Arial, sans-serif;
    background-color: #1E1E24;
}

/*@media only screen and (min-width: 769px){*/
  /* Menu */
  header {
    background-color: #000000; 
    position: fixed; 
    width: 100%; 
    top: 0;
    z-index: 9999999; 
    padding: 10px 0;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

/* Logo y nombre */
.logo {
    width: 20%; /* Ocupa el 20% del ancho del header */
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px; 
    height: 60px;
    margin-left: 20px; 
}

.nombre {
    font-size: 18px;
    margin-left: 10px; 
    color: #9340FF;
}

/* Opciones del menú */
nav {
    width: 80%; /* Ocupa el 80% del ancho del header */
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
}

nav ul li {
    margin-left: 20px; /* Espacio entre las opciones del menú */
}

nav ul li:first-child {
    margin-left: 0; /* Quita el margen izquierdo del primer elemento */
}

nav ul li a {
    text-decoration: none; 
    color: #9340FF; 
    padding: 10px 0; /* Reduces el padding en lugar de horizontal */
    border-left: 1px solid #ffffff; /* Añade un borde a la izquierda de cada opción */
}

nav ul li:last-child a {
    border-right: 1px solid #ffffff; /* Añade un borde a la derecha del último elemento */
}

nav ul li a:hover {
    background-color: #ffffff; 
}
/*}*/
  
  
  /*Nosotros*/
  .nosotros {
    background-color: #2d2d39;
  }
  
  .nosotros .containern {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contenidon {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido */
  }
  
  .contenidon h1 {
    font-size: 104px;
    margin: 0 0 20px 40px ; 
    color: #fff;
  }
  
  .contenidon a{
    background-color: #9340FF; /* Color de fondo del botón de enviar */
      color: #fff; /* Color del texto del botón */
      padding: 10px 20px; /* Espaciado interno del botón */
      border: none; /* Quita el borde del botón */
      border-radius: 10px; 
      text-decoration: none;
    
  }
  
  .logon {
    display: flex;
    align-items: center; /* Centra verticalmente el logo */
  }
  
  .logon img {
    width: 70%; /* Ajusta el tamaño del logo según sea necesario */
    margin-right: 10px;
  }
  
  .nombre {
    font-size: 18px;
  }
  
  .foto-texto {
    width: 50%;
    text-align: center; /* Centra horizontalmente el texto */
  }
  .foto-texto p{
    font-size: 35px;
    color: #fff;
  }
  
  .foto-texto img {
    width: 60%;
  }
  
  
  /*que hacemos*/
  .que-hacemos{
    background-color: #1E1E24;
    margin: 20px 40px 20px 40px;
    height: 20vw;
  }
  .que-hacemos .containerqh {
    text-align: center; /* Centra el texto horizontalmente */
    
  }
  .que-hacemos .containerqh .contenidoqh h2{
    color: #9340FF;
    font-size: 45px;
  }
  
  .que-hacemos .contenidoqh p {
    text-align: center; /* Ajusta el margen para centrar el texto horizontalmente */
    color: #ffffff;
    font-size: 35px;
  }
  
  
  /* conoce el equipo*/
  .meet-the-team {
    padding: 100px 0;
    background-color: #2d2d39;
  }
  
  .meet-the-team .containermtt {
    display: flex;
  }
  .meet-the-team{
    text-align: center;
  }
  
  .meet-the-team h2{
    color: #9340FF;
    font-size: 45px;
  }
  
  .team-member {
    flex: 1;
    text-align: center;
    padding: 20px;
  }
  
  .team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Hace la imagen circular */
    margin-bottom: 20px;
  }
  
  .team-member h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .team-member p {
    font-size: 16px;
    color: #666;
  }
  
  
  
  
  /* servicios*/
  
  .servicios{
      background-color: #1E1E24;
      text-align: center;
      width: 100%;
    }
  .servicios .containers {
      text-align: center; /* Centra el texto horizontalmente */
    }
  .servicios .conteiners h2{
      
      font-size: 45px;
      color: #9340FF;
    }
  
  
  .containerb{
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      padding: 50px 12px;
      background-color: #1E1E24;
      color: #FFE8D1;
  }
  
  .containerhijo img{
    border-radius: 10px;
  }
  
  .containerb2{
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      padding: 50px 12px;
      background-color: #2d2d39;
      color: #FFE8D1;
  }
  
  .containerhijo2 img{
    border-radius: 10px;
  }
  
  
  
  /*numeros*/
  
  .three-columns {
    display: flex;
    margin: auto;
  }
  
  .three-columns h2{
    color: #9340FF;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .column h2 {
    font-size: 54px;
  }
  
  .column p {
    font-size: 26px;
    color: #fff;
  }
  
  
  
  
  /*formulario*/
  #contacto {
      background-color: #2d2d39; /* Color de fondo del div grande */
      padding: 50px 250px 50px 250px; /* Espaciado interno del div grande */
      display: flex; /* Usa flexbox para alinear verticalmente */
  }
  
  .formulario {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; /* Contenido arriba de todo */
      flex-grow: 1; /* Permite que el formulario crezca para ocupar todo el espacio disponible */
  
  }
  
  .info {
      width: 70%; /* Ancho del div de información */
      display: flex; /* Usa flexbox para alinear verticalmente */
      flex-direction: column; /* Apila los elementos verticalmente */
      align-items: flex-start; /* Alinea los elementos en la parte superior */
      text-align: left;
  }
  
  .info h2{
    color: #9340FF;
    font-size: 35px;
  }
  .info p,ul,li{
      color: #fff;
  }
  
  .form {
      width: 70%; /* Ancho del div del formulario */
  }
  
  fieldset {
      border: none; /* Quita el borde del fieldset */
      padding: 0 60px 60px 60px; /* Espaciado interno del fieldset */
      border-radius: 10px; /* Bordes redondeados del fieldset */
    }
    
    fieldset label,
    fieldset textarea,
    fieldset input[type="text"],
    fieldset select {
      display: block;
      margin-bottom: 10px; /* Espaciado inferior entre elementos */
      width: 100%; /* Ancho completo */
    }
    
    textarea {
      height: 200px; /* Altura del textarea */
    }
    
    input[type="submit"] {
      background-color: #9340FF; /* Color de fondo del botón de enviar */
      color: #ffffff; /* Color del texto del botón */
      padding: 10px 20px; /* Espaciado interno del botón */
      border: none; /* Quita el borde del botón */
      border-radius: 10px; /* Bordes redondeados del botón */
      cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    }
    
    
    /* Estilo para los elementos input y textarea para que sean circulares */
    input[type="text"],
    textarea {
      border-radius: 10px; /* Bordes redondeados */
      padding: 10px; /* Espaciado interno */
    }
  
  
  /*foter*/
  footer {
      width: 100%;
      padding: 15px;
      text-align: center;
      background-color: #9340FF;
  }
  
  footer a{
    color: #fff;
    text-decoration: none;
  }
  


  








/* Ajustes para dispositivos móviles */
@media only screen and (max-width: 768px) {
  /* Menu */
  /*header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999999;
    padding: 10px 0;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul li {
    margin: 0 10px;
  }

  /* Nosotros */
  .nosotros .containern {
    flex-direction: column;
    align-items: center;
  }

  .contenidon {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .contenidon h1 {
    font-size: 48px;
    margin: 0;
  }

  .contenidon a {
    margin-top: 20px;
  }

  .foto-texto {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .foto-texto p {
    font-size: 24px;
  }

  .foto-texto img {
    width: 80%;
    max-width: 300px;
  }

  /* Que hacemos */
  .que-hacemos {
    height: auto;
    margin: 20px 0;
  }

  .que-hacemos .containerqh .contenidoqh h2 {
    font-size: 36px;
  }

  .que-hacemos .contenidoqh p {
    font-size: 24px;
  }

  /* Servicios */
  .servicios {
    padding: 20px 0;
  }

  .containerb,
  .containerb2 {
    grid-template-columns: 1fr;
    margin-bottom: 0px;
  }

  /* Contacto */
  #contacto {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formulario {
    width: 100%;
    max-width: 500px;
  }


  footer{
    width: 100%;
  }
}
