
/* telefono */


@media screen and (max-width: 768px){
  header {
    background-color: #000000; 
    position: fixed; 
    width: 100%; 
    top: 0;
    z-index: 9999999; 
    padding: 1.25vh 0;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

/* Logo y nombre */
.logo {
    width: 20%; 
    display: flex;
    align-items: center;
}

.logo img {
    width: 7.5vh;
    height: 7.5vh;
    margin-left: 2.5vh; 
}

.nombre {
    font-size: 1.5vh;
    margin-left: 1.25vh; 
    color: #9340FF;
}

/* Opciones del menú */
nav {
    width: 80%;
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
}

nav ul li {
    margin-left: 2.5vh; 
}



nav ul li a {
    text-decoration: none; 
    color: #9340FF; 
    padding: 1.25vh 0; 
    font-size: 1.5vh;
}



nav ul li a:hover {
    background-color: #ffffff; 
    border-radius: 1.25vh;
}



  /* Nosotros */
  .nosotros{
    width: 100%;
    display: flex;
    flex-direction: column;
  }


  .contenidon {
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    
  }

  .contenidon h1 {
    width: 49%;
    font-size: 48px;
    margin-top: 100px;
    justify-content: center;
  }

  .contenidon a {
    background-color: #9340FF; 
      color: #fff; 
      padding: 10px 20px; 
      border: none; 
      border-radius: 10px; 
      text-decoration: none;
  }

  .foto-texto {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .foto-texto p {
    width: 100%;
    font-size: 24px;
    color: #ffffff;
  }

  .foto-texto img {
    width: 49%;
 
  }



  /* Que hacemos */
  .que-hacemos{
    display: flex;
    background-color: #2d2d39;
  }
  .contenidoqh{
    align-items: center;
    flex-direction: column;
  
  }

  .que-hacemos .containerqh .contenidoqh h2 {
    font-size: 36px;
    color: #9340FF;
    justify-content: center;
  }

  .que-hacemos .contenidoqh p {
    font-size: 24px;
    color: #fff;
  }

/*meet the team*/
.conoceelequipo{
  text-align: center;
}
.conoceelequipo h2{
  font-size: 36px;
  color: #9340FF;
}
.containermtt{
  flex-direction: column;
  align-items: center;
}

.persona{
  align-items: center;
  justify-content: center;
}

.persona img{
  width: 150px;
    height: 150px;
    border-radius: 50%; 
    margin-bottom: 20px;
}

.persona h3 {
  font-size: 3vh;
  margin-bottom: 1.25vh;
  color: #fff;
}

.persona p {
  font-size: 2vh;
  color: #666;
}

  /* Servicios */
  .servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2d2d39;
  }
  .servicios  h2{
    color: #9340FF;
    font-size: 36px;
  }

  .containerb,
  .containerb2 {
    display: flex;
    flex-direction: column;
    margin: 7.5vh;
    align-items: center;
    
  }
  
  .containerhijo, .containerhijo2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.containerhijo img{
  border-radius: 10px;
}

.containerhijo2 img{
  border-radius: 10px;
}

  .containerhijo h3{

    color: #fff;
    font-size: 3vh;
  }

  .containerhijo2 h3{
    color: #fff;
    font-size: 3vh;
  }

  .containerhijo ul li{
    color: #fff;
    list-style: none;
  }

  .containerhijo2 ul li{
    color: #fff;
    list-style: none;
  }



/*numeros*/
.columnas{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
.columna{
  flex-direction: column;
}

.columna h2{
  color: #9340FF;
  justify-content: center;
}

.columna p{
  color: #fff;
}


  /* Contacto */
  .contacto {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formulario {
    align-items: center;
    width: 90%;
    text-align: center;
    
  }
  .info h2{
    color: #9340FF;

  }

  .info p,ul li{
    color: #fff;
    list-style: none;
  }

  .form fieldset{
    display: flex;
    flex-direction: column;
  }

  .form fieldset label, input, textarea{
    margin-bottom: 2vh;
  }
  


  footer{
    width: 100%;
    padding: 1vh;
    background-color: #9340FF;
    text-align: center;
  }
  footer a{
    color: #fff;
    text-decoration: none;
  }

  
}
    
